/*--------------------------------------------------------------
Config
--------------------------------------------------------------*/
/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
pre, textarea {
  overflow: auto; }

[hidden], audio:not([controls]), template {
  display: none; }

details, main, summary {
  display: block; }

input[type=number] {
  width: auto; }

input[type=search], input[type=text], input[type=email] {
  -webkit-appearance: none; }

input[type="*"] {
  -webkit-appearance: none; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

progress {
  display: inline-block; }

small {
  font-size: 100%; }

textarea {
  resize: vertical; }

[unselectable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*, ::after, ::before {
  box-sizing: inherit;
  border-style: solid;
  border-width: 0; }

* {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0; }

::after, ::before {
  text-decoration: inherit;
  vertical-align: inherit; }

:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  cursor: default;
  font: 16px/1.5 sans-serif;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

button, input, select, textarea {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  min-height: 1.5em; }

code, kbd, pre, samp {
  font-family: monospace,monospace; }

nav ol, nav ul {
  list-style: none; }

ul li {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }

select::-ms-expand {
  display: none; }

select::-ms-value {
  color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

::-moz-selection {
  background-color: #B3D4FC;
  text-shadow: none; }

::selection {
  background-color: #B3D4FC;
  text-shadow: none; }

@media screen {
  [hidden~=screen] {
    display: inherit; }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
HTML Settings
General Settings
Heading 2
Serif
Heading 3
Text
Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
HTML settings
--------------------------------------------------------------*/
html {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  -webkit-tap-highwhite-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }
/*--------------------------------------------------------------
General Settings
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

/*--------------------------------------------------------------
Heading 2
--------------------------------------------------------------*/
.heading-2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  color: #000;
  letter-spacing: 0.3px; }
  .heading-2--white {
    color: #FFF; }

/*--------------------------------------------------------------
Serif
--------------------------------------------------------------*/
.serif {
  font-family: "Arnhem";
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
  color: #3E4954; }
  @media (max-width: 400px) {
    .serif {
      font-size: 20px;
      line-height: 32px; } }

/*--------------------------------------------------------------
Heading-3
--------------------------------------------------------------*/
.heading-3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 25px;
  color: #3E4954;
  letter-spacing: 0.3px; }
  .heading-3 + .heading-3 {
    margin-top: 5px; }
  .heading-3--white {
    color: #FFF; }
  .heading-3--light {
    color: #848995; }

/*--------------------------------------------------------------
Text
--------------------------------------------------------------*/
.text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #848995;
  letter-spacing: 0px; }
  @media (max-width: 600px) {
    .text {
      font-size: 16px;
      line-height: 30px; } }
  .text--light-white {
    color: rgba(255, 255, 255, 0.7); }

/*--------------------------------------------------------------
Section Titles
--------------------------------------------------------------*/
.section-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
/*--------------------------------------------------------------
Background Color
--------------------------------------------------------------*/

body {
  background-color: white; }

/*--------------------------------------------------------------
Image Header
--------------------------------------------------------------*/
.mountain{
  background-image:url('../images/general/mount.png');
  background-color: white;
  background-size: 100%;
  padding: 150px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  white-space: nowrap;
}
@media (max-width: 600px){
    .mountain {
        padding: 100px;
    }
}

/*--------------------------------------------------------------
Section Cards
--------------------------------------------------------------*/
.section-card{
  padding:5%;
  margin-top: 7%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 2%;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.5);
  border-radius: 15px;
  position: relative;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

/*--------------------------------------------------------------
Smooth Scrolling Anchors
--------------------------------------------------------------*/
.aboutanchor{
  padding-top: 70px;
  margin-top: -70px;
  scroll-behavior: smooth;
}

.projectsanchor{
  padding-top: 10px;
  margin-top: -10px;
  scroll-behavior: smooth;
}

.contactanchor{
  padding-top: 10px;
  margin-top: -10px;
  scroll-behavior: smooth;
}
/*--------------------------------------------------------------
Learn More Button
--------------------------------------------------------------*/
.learn-btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.learn-btn:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
/*--------------------------------------------------------------
Modal
--------------------------------------------------------------*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 25px;
  color: #3E4954;
  letter-spacing: 0.3px; }
  .modal-title + .modal-title {
    margin-top: 10px;
    margin-bottom: 20px;        }
  .modal-title--light {
    color: #848995; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: grey;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body { padding: 2px 16px; }

/*--------------------------------------------------------------
Profile Picture
--------------------------------------------------------------*/
.me{
  clip-path: circle(45%);
  -webkit-clip-path: circle(45%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 27.5%;
  height: auto;
}

/*--------------------------------------------------------------
Icons
--------------------------------------------------------------*/
.contactButton{
  width: 40%;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  margin: auto;

}

.phoneButton{
  width: 200%;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  margin: auto;

}

.row{
  text-align: center;
  float: left;
  display: flex;
  flex-direction: row;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
Slider Cards
Slider Bullets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Slider Cards
--------------------------------------------------------------*/
.slider__item {
  transition: all 0.2s ease; }
  #slide-1:checked ~ .slider__holder .slider__item--1 {
    position: relative;
    z-index: 2;
    transform: translate(0) scale(1); }
  #slide-2:checked ~ .slider__holder .slider__item--1 {
    z-index: 1;
    transform: translateX(-100px) scale(0.85); }
    @media (max-width: 768px) {
      #slide-2:checked ~ .slider__holder .slider__item--1 {
        opacity: 0.6; } }
  #slide-3:checked ~ .slider__holder .slider__item--1 {
    z-index: 0;
    transform: translateX(-210px) scale(0.65); }
    @media (max-width: 900px) {
      #slide-3:checked ~ .slider__holder .slider__item--1 {
        transform: translateX(-170px) scale(0.65); } }
    @media (max-width: 768px) {
      #slide-3:checked ~ .slider__holder .slider__item--1 {
        opacity: 0; } }
  #slide-4:checked ~ .slider__holder .slider__item--1 {
    z-index: -1;
    opacity: 0;
    transform: translateX(-210px) scale(0.65); }
  #slide-5:checked ~ .slider__holder .slider__item--1 {
    z-index: -1;
    opacity: 0;
    transform: translateX(-210px) scale(0.65); }
  #slide-1:checked ~ .slider__holder .slider__item--2 {
    z-index: 1;
    transform: translateX(100px) scale(0.85); }
    @media (max-width: 768px) {
      #slide-1:checked ~ .slider__holder .slider__item--2 {
        opacity: 0.6; } }
  #slide-2:checked ~ .slider__holder .slider__item--2 {
    position: relative;
    z-index: 2;
    transform: translate(0) scale(1); }
  #slide-3:checked ~ .slider__holder .slider__item--2 {
    z-index: 1;
    transform: translateX(-100px) scale(0.85); }
    @media (max-width: 768px) {
      #slide-3:checked ~ .slider__holder .slider__item--2 {
        opacity: 0.6; } }
  #slide-4:checked ~ .slider__holder .slider__item--2 {
    z-index: 0;
    transform: translateX(-210px) scale(0.65); }
    @media (max-width: 900px) {
      #slide-4:checked ~ .slider__holder .slider__item--2 {
        transform: translateX(-170px) scale(0.65); } }
    @media (max-width: 768px) {
      #slide-4:checked ~ .slider__holder .slider__item--2 {
        opacity: 0; } }
  #slide-5:checked ~ .slider__holder .slider__item--2 {
    z-index: -1;
    opacity: 0;
    transform: translateX(-210px) scale(0.65); }
  #slide-1:checked ~ .slider__holder .slider__item--3 {
    z-index: 0;
    transform: translateX(210px) scale(0.65); }
    @media (max-width: 900px) {
      #slide-1:checked ~ .slider__holder .slider__item--3 {
        transform: translateX(170px) scale(0.65); } }
    @media (max-width: 768px) {
      #slide-1:checked ~ .slider__holder .slider__item--3 {
        opacity: 0; } }
  #slide-2:checked ~ .slider__holder .slider__item--3 {
    z-index: 1;
    transform: translateX(100px) scale(0.85); }
    @media (max-width: 768px) {
      #slide-2:checked ~ .slider__holder .slider__item--3 {
        opacity: 0.6; } }
  #slide-3:checked ~ .slider__holder .slider__item--3 {
    position: relative;
    z-index: 2;
    transform: translate(0) scale(1); }
  #slide-4:checked ~ .slider__holder .slider__item--3 {
    z-index: 1;
    transform: translateX(-100px) scale(0.85); }
    @media (max-width: 768px) {
      #slide-4:checked ~ .slider__holder .slider__item--3 {
        opacity: 0.6; } }
  #slide-5:checked ~ .slider__holder .slider__item--3 {
    z-index: 0;
    transform: translateX(-210px) scale(0.65); }
    @media (max-width: 900px) {
      #slide-5:checked ~ .slider__holder .slider__item--3 {
        transform: translateX(-170px) scale(0.65); } }
    @media (max-width: 768px) {
      #slide-5:checked ~ .slider__holder .slider__item--3 {
        opacity: 0; } }
  #slide-1:checked ~ .slider__holder .slider__item--4 {
    z-index: -1;
    opacity: 0;
    transform: translateX(210px) scale(0.65); }
  #slide-2:checked ~ .slider__holder .slider__item--4 {
    z-index: 0;
    transform: translateX(210px) scale(0.65); }
    @media (max-width: 900px) {
      #slide-2:checked ~ .slider__holder .slider__item--4 {
        transform: translateX(170px) scale(0.65); } }
    @media (max-width: 768px) {
      #slide-2:checked ~ .slider__holder .slider__item--4 {
        opacity: 0; } }
  #slide-3:checked ~ .slider__holder .slider__item--4 {
    z-index: 1;
    transform: translateX(100px) scale(0.85); }
    @media (max-width: 768px) {
      #slide-3:checked ~ .slider__holder .slider__item--4 {
        opacity: 0.6; } }
  #slide-4:checked ~ .slider__holder .slider__item--4 {
    position: relative;
    z-index: 2;
    transform: translate(0) scale(1); }
  #slide-5:checked ~ .slider__holder .slider__item--4 {
    z-index: 1;
    transform: translateX(-100px) scale(0.85); }
    @media (max-width: 768px) {
      #slide-5:checked ~ .slider__holder .slider__item--4 {
        opacity: 0.6; } }
  #slide-1:checked ~ .slider__holder .slider__item--5 {
    z-index: -1;
    opacity: 0;
    transform: translateX(210px) scale(0.65); }
  #slide-2:checked ~ .slider__holder .slider__item--5 {
    z-index: -1;
    opacity: 0;
    transform: translateX(210px) scale(0.65); }
  #slide-3:checked ~ .slider__holder .slider__item--5 {
    z-index: 0;
    transform: translateX(210px) scale(0.65); }
    @media (max-width: 900px) {
      #slide-3:checked ~ .slider__holder .slider__item--5 {
        transform: translateX(170px) scale(0.65); } }
    @media (max-width: 768px) {
      #slide-3:checked ~ .slider__holder .slider__item--5 {
        opacity: 0; } }
  #slide-4:checked ~ .slider__holder .slider__item--5 {
    z-index: 1;
    transform: translateX(100px) scale(0.85); }
    @media (max-width: 768px) {
      #slide-4:checked ~ .slider__holder .slider__item--5 {
        opacity: 0.6; } }
  #slide-5:checked ~ .slider__holder .slider__item--5 {
    position: relative;
    z-index: 2;
    transform: translate(0) scale(1); }

/*--------------------------------------------------------------
3.0 Bullets
--------------------------------------------------------------*/
.bullets__item {
  transition: all 0.2s ease; }
  #slide-1:checked ~ .bullets .bullets__item--1 {
    background: black; }
  #slide-2:checked ~ .bullets .bullets__item--2 {
    background: black; }
  #slide-3:checked ~ .bullets .bullets__item--3 {
    background: black; }
  #slide-4:checked ~ .bullets .bullets__item--4 {
    background: black; }
  #slide-5:checked ~ .bullets .bullets__item--5 {
    background: black; }

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
Card
Slider
Bullets
Section
Button
NavBar
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Card
--------------------------------------------------------------*/

.card {
  position: relative;
  display: block;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3), 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

/*--------------------------------------------------------------
Slider
--------------------------------------------------------------*/
.slider {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .slider__radio {
    display: none; }
  .slider__holder {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: left; }
    @media (max-width: 900px) {
      .slider__holder {
        max-width: 540px; } }
    @media (max-width: 600px) {
      .slider__holder {
        margin-top: 60px; } }
  .slider__item {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    opacity: 1;
    cursor: pointer; }
  .slider__item-content {
    padding: 40px; }
    @media (max-width: 600px) {
      .slider__item-content {
        padding: 32px 32px; } }
    @media (max-width: 375px) {
      .slider__item-content {
        padding: 40px 24px; } }
  .slider__item-text {
    padding: 60px 0; }

/*--------------------------------------------------------------
Bullets
--------------------------------------------------------------*/
.bullets {
  z-index: 10;
  display: block;
  width: auto;
  height: 10px;
  height: 10px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 56px;
  text-align: center; }
  @media (max-width: 600px) {
    .bullets {
      margin-top: 32px; } }
  .bullets__item {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer; }
    .bullets__item:hover {
      background: #FFF; }

/*--------------------------------------------------------------
Section
--------------------------------------------------------------*/
.section {
  position: relative;
  width: 100%;
  padding: 10px 24px;
  text-align: center; }
  .section__entry {
    width: 100%;
    max-width: 380px;
    margin: 0 auto; }
    .section__entry--center {
      text-align: center; }
  .section__title {
    display: block;
    padding-bottom: 12px; }
  .section__text {
    display: block; }

/*--------------------------------------------------------------
Button
--------------------------------------------------------------*/
.button {
  display: inline-block;
  height: 44px;
  padding: 12px 16px;
  font-weight: 500;
  line-height: 20px;
  color: #FFF;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.2); }
  .button:hover {
    background: rgba(0, 0, 0, 0.1); }

/*--------------------------------------------------------------
NavBar
--------------------------------------------------------------*/

.labs-bar {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 8px 0px;
  background: rgba(0, 0, 0, 0.8); }

  .labs-bar__inner {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; }

  .labs-bar__nav {
    position: relative;
    display: block;
    float: left; }

    .icon{
      display: none;
    }


  .labs-bar__link {
    position: relative;
    display: inline-block;
    padding: 10px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: #FFF;
    letter-spacing: 0.5px;
    text-transform: uppercase; }
    @media screen and (max-width: 600px){
      .labs-bar__link {display: none;}
      .icon {
        display: block;
        float: right;
        position: fixed;
        right: 15px;
        top: 10px;
      }
    }
    @media screen and (max-width: 600px) {
      .labs-bar__link.responsive {position: relative;}
      .labs-bar__link.responsive {
        position: relative;
        display: block;
        text-align: left;
        padding: 10px;
        padding-left: 30px;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        color: #FFF;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }
    }


  .labs-bar__branding {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    color: #FFF; }
    @media screen and (max-width: 600px){
        .labs-bar__branding {display: none;}
    }

  .labs-bar__logo {
      position: relative;
      display: inline-block;
      padding: 10px;
      padding-left: 30px;
      font-size: 12px;
      font-weight: 700;
      line-height: 20px;
      color: #FFF;
      letter-spacing: 0.5px;
      text-transform: uppercase; }


  .labs-bar__button {
    float: right;
    padding: 10px 16px;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: #FFF;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.2);
    letter-spacing: 0.5px;
    text-transform: uppercase; }
    .labs-bar__button:hover {
      background: rgba(0, 0, 0, 0.1); }

/*--------------------------------------------------------------
NavBar Dropdown Button
--------------------------------------------------------------*/

      .container {
        display: inline-block;
        cursor: pointer;
      }

      .bar1, .bar2, .bar3 {
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
      }

      /* Rotate first bar */
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
      }

      /* Fade out the second bar */
      .change .bar2 {
        opacity: 0;
      }

      /* Rotate last bar */
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -6px) ;
        transform: rotate(45deg) translate(-8px, -6px) ;
      }
